.contact_container {
    width: 100%;
    text-align: center;
    margin: 3em auto;
}

.contact_title {
    width: 8em;
    margin: 0 auto;
    font-weight: 500;
    font-size: 2em;
    border-bottom: .2em solid;
    border-image: linear-gradient(-45deg, #02ff17, #1f06ff);
    border-image-slice: 1;
}

.contact_text{
    color: #474747;
    font-size: 1.2em;
    margin: 3em auto 5em auto;
}



