* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'sans-serify';
}


.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #02ff17;
}

.swiper-pagination {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.swiper-pagination,
.swiper-container {
  z-index: 1;
}